<div class="container pt-100">

    <div class="header">
        <h4>
            User your camera to look for what you need!
        </h4>
        <p class="caption">The future is here</p>
    </div>

    <div class="camera text-center">
        <i class="mt-4 fas fa-camera fa-7x"></i>
    </div>

    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" >
<button type="button" >Upload File</button>

    <div class="result mt-4">
        <app-result-list></app-result-list>
    </div>

</div>