<div class="container pt-100">
    <div class="header">
        <h4>
            User your camera to look for what you need!
        </h4>
        <p class="caption">The future is here</p>
    </div>
    <div *ngIf="!cameraService.shotIsTaken" class="text-center">
        <i class="mt-4 fas fa-camera fa-7x" (click)="openCamera()"></i>
    </div>

    <img class="image-taken" *ngIf="cameraService.shotIsTaken" src="{{cameraService.base64}}">

    <div class="result mt-4">
        <app-result-list *ngIf="cameraService.shotIsTaken"></app-result-list>
    </div>

</div>