/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #41908a;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.title{
    font-weight: 500;
    font-size: 20px;   
}